@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


 /* --general style-- */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
    background-color: black;
    font-weight: 400;
    color: #fff;
}

/* --- header section ----  */
.container{
    max-width: 1280px;
    margin: auto;
    padding: 0px 3%;
}
h1{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 16px;
}
h2{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 40px;
}
h3{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
}
.header{
    height: 100vh;
    background-image: linear-gradient(
        0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.8)), url("https://assets.nflxext.com/ffe/siteui/vlv3/73334647-ad51-42a9-b07b-93298cc2a8e1/9b6e1fd3-a4c3-49e3-8389-02886193fb7c/ET-en-20230605-popsignuptwoweeks-perspective_alpha_website_small.jpg");
        background-repeat: no-repeat;
        object-fit: cover;
        background-position: center;
    }
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
}
.logo svg{
    fill: #e50914;
    height: 40px;
}
.signin-btn{
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    background-color: #e50914;
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 3px;
    margin-left: 20px;
}
.signin-btn:hover{
    background-color:#b80f17;
    transition-timing-function: cubic-bezier(0.5,0,0.1,1);
}

/* header content */
.header-content{
    height: 65vh;
    display: grid;
    place-content: center;
    text-align: center;
}

/* 
}
header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 26px 56px;
}
header a.logo{
    display: block;
}
.logo svg{
    fill: #e50914;
    height: 37px;
}
header div+div{
    text-align: center;
}
header a.button{
    display: inline-block;
    background-color: #e50914;
    color: #fff;
    text-decoration: none;
    padding: 7px 17px;
    border-radius: 3px;
    margin-left: 20px;
}
header select{
background: transparent;
color: #fff;
padding: 6px 0 6px 20px;
border-radius: 3px;
}
header div.select{
    display: inline-block;
}
header div.select svg{
height: 20px;
color: #fff;
position: absolute;
margin-top: 10px;
margin-left: 4px;
}
div.splash div.background{
    position: relative;
}

div.splash div.gradient{
    background-image: linear-gradient(103.24deg, rgba(0, 8, 29, 0.9) 23.83%, rgba(0, 8, 29, 0.3) 96.1%);
    position: absolute;
    inset: 0;
}
div.splash div.background img{
max-width: 100%;
opacity: .6;
}

 */
